@model Libreria.Models.data.Sujeto

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Editar Usuario</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" action="@Url.Action("Editar", new { id=Model.IdSujeto })" method="post">
        <!--Nombres-->
        <div class="form-group">
          <label for="txtNombres" class="col-sm-3 control-label">Nombres:</label>
          <div class="col-sm-9">
            <input type="text" id="txtNombres" name="txtNombres" class="form-control" placeholder="Nombres" required value="@Model.Nombres" />
          </div>
        </div>
        <!--Apellidos-->
        <div class="form-group">
          <label for="txtApellidos" class="col-sm-3 control-label">Apellidos:</label>
          <div class="col-sm-9">
            <input type="text" id="txtApellidos" name="txtApellidos" class="form-control" placeholder="Apellidos" required value="@Model.Apellidos" />
          </div>
        </div>
        <!--CI/NIT-->
        <div class="form-group">
          <label for="txtCiNit" class="col-sm-3 control-label">CI/NIT:</label>
          <div class="col-sm-9">
            <input type="number" id="txtCiNit" name="txtCiNit" class="form-control" placeholder="CI/NIT" required value="@Model.CI_NIT" />
          </div>
        </div>
        <!--Telefonos-->
        <div class="form-group">
          <label for="txtTelefonos" class="col-sm-3 control-label">Telefono:</label>
          <div class="col-sm-9">
            <input type="text" id="txtTelefonos" name="txtTelefonos" class="form-control" placeholder="Telefonos" value="@Model.Telefonos" />
          </div>
        </div>
        <!--Direccion-->
        <div class="form-group">
          <label for="txtDireccion" class="col-sm-3 control-label">Dirección:</label>
          <div class="col-sm-9">
            <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" placeholder="Dirección" value="@Model.Direccion" />
          </div>
        </div>
        <!--Email-->
        <div class="form-group">
          <label for="txtEmail" class="col-sm-3 control-label">Email:</label>
          <div class="col-sm-9">
            <input type="email" id="txtEmail" name="txtEmail" class="form-control" placeholder="Email" value="@Model.Email" />
          </div>
        </div>
        <!--Razon Social-->
        <div class="form-group">
          <label for="txtRazonSocial" class="col-sm-3 control-label">Razón Social:</label>
          <div class="col-sm-9">
            <input type="text" id="txtRazonSocial" name="txtRazonSocial" class="form-control" placeholder="Razón Social" required value="@Model.RazonSocial" />
          </div>
        </div>
        <!--Rol-->
        <div class="form-group">
          <label for="IdRol" class="col-sm-3 control-label">Rol:</label>
          <div class="col-sm-9">
            @Html.DropDownList("IdRol", ViewData["Roles"] as List<SelectListItem>, new { @class = "form-control" })
          </div>
        </div>
        <!--Login-->
        <div class="form-group">
          <label for="txtLogin" class="col-sm-3 control-label">Login:</label>
          <div class="col-sm-9">
            <input type="text" id="txtLogin" name="txtLogin" class="form-control" placeholder="Login" required value="@ViewData["Login"]" />
          </div>
        </div>
        <!--Password-->
        <div class="form-group">
          <label for="txtPwd" class="col-sm-3 control-label">Password:</label>
          <div class="col-sm-9">
            <input type="password" id="txtPwd" name="txtPwd" class="form-control" required value="@ViewData["Pwd"]" />
          </div>
        </div>

          <!--Intentos-->
          <div class="form-group">
              <label for="txtIntentos" class="col-sm-3 control-label">Intentos:</label>
              <div class="col-sm-9">
                  <input type="text" id="txtIntentos" name="txtIntentos" class="form-control" placeholder="intentos" required value="" />
              </div>
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
    
  </div>
</div>

