
@{
    ViewBag.Title = "Catalogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Libreria.Models.data.PROListarProductos_Result>

<h2>Catalogo</h2>

<div>
    <label>Buscar: </label>
    <input id="dato" name="dato" type="text" />
    <input class="btn btn-primary buscador" type="button" value="Buscar" />
</div>

@foreach (var Item in Model)
{

    <div class="col-sm-6 col-md-4">
        <form action="agregar/@Item.IdProducto" method="post">

            <div class="thumbnail">
                @if (@Item.Foto != null)
                {
                    <img style="height:350px;width:350px;" alt="" src="@Url.Content(@Item.Foto)" />
                }
                else
                {
                    <img style="height:350px;width:350px;" alt="" src="~/Content/img/sin-imagen.jpg" />
                }

                <div class="caption">
                    <h3>@Item.Nombre</h3>
                    <p>Costo: @String.Format("{0:f}", Item.Cobrar)</p>
                    @*<p><input type="submit" class="btn btn-primary" role="button" value="Agregar al Carrito"></p>*@
                </div>
            </div>
        </form>
    </div>
}

@section Scripts{
    <script type="text/javascript">

      $('.buscador').click(function () {

          var url = "@Url.Content("/Libreria/carrito/catalogo?filtro=")" + document.getElementById("dato").value;
          //alert(url);
              $.post(url, function (data) {
                  document.location.href = url;
              })
      });
    </script>
}